<div class="well">
	{{ form(form) }}
</div>

<p>
    <a href="{{ path('solustat_time_sheet_patient_list', {'page': 1}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste des patients
    </a>
</p>