{% extends "SolustatTimeSheetBundle::layout.html.twig" %}

{% block title %}
    Formulaire ajout Patient - {{ parent() }}
{% endblock %}

{% block solustattimesheet_body %}
    <h3>Formulaire ajout Patient</h3>

   	<div class="well">
  		{{ form(form) }}
	</div>

{% endblock %}